version: "3.9"
services:
  backend:
    build:
      context: ./Backend             # folder containing your backend code
      dockerfile: Dockerfile.Backend # name of the Dockerfile
    container_name: backend
    networks:
      - app-network

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile.Frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
